.crescer {
  animation: crescer 400ms ease-in-out
}
  
.diminuir {
  animation: diminuir 400ms ease-in-out;
}

.botao-subir {
  position: fixed;
  top: 83%;
  right: 2%;
  border-radius: 10px;
}

.botao-subir a {
  padding: 10px;
  border-radius: 10px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  transition: 500ms;
  background: var(--cor-de-fundo-sec);
  color: black;
  text-decoration: none;
}

.botao-subir a:hover {
  cursor: pointer;
  background: var(--cor-botao);
}

.botao-subir img {
  height: 20px;
}
  
@keyframes crescer {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
  
@keyframes diminuir {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}
