.caixa__produtos {
  display: grid;
  align-items: baseline;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 30px;
  justify-content: center;
}

.caixa__produtos #produtos__titulo--principal {
  text-align: center;
  grid-column-end: span 2;
}

.caixa__produtos .container__cartao-produtos {
  background-color: var(--cor-de-fundo-sec);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  row-gap: 10px;
  border-radius: 15px;
  transition: 600ms;
  cursor: pointer;
}

.caixa__produtos .container__cartao-produtos:hover {
  transform: scale(1.03);
}

.caixa__produtos .container__cartao-produtos img {
  border-radius: 15px;
  width: auto;
  height: 186px;
}

.caixa__produtos .container__cartao-produtos h3 {
  text-transform: uppercase;
}

.caixa__produtos .container__cartao-produtos p {
  text-align: justify;
}

.caixa__produtos .produtos--mais {
  display: none;
  overflow: hidden;
}

.caixa__produtos .produtos__titulo--hamburguer {
  text-align: center;
  text-transform: uppercase;
}

.caixa__botao {
  display: block;
  margin: 0 auto;
}

.botao__mais {
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 500ms;
  background: var(--cor-de-fundo-sec);
}

.botao__mais:hover {
  cursor: pointer;
  background: var(--cor-botao);
}
