@media screen and (max-width: 768px) {
  .cabecalho .cabecalho__menu {
    display: none;
  }

  .cabecalho__icone-menu-hamburguer {
    display: block;
  }

  main .caixa__sobre {
    width: 80%;
  }

  .caixa__produtos {
    grid-template-columns: 50%;
  }

  .caixa__produtos #produtos__titulo--principal {
    grid-column-end: unset;
  }

  .caixa__produtos .container__cartao-produtos {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .caixa__produtos {
    grid-template-columns: 65%;
  }
}

@media screen and (max-width: 320px) {
  .caixa__produtos {
    grid-template-columns: 60%;
  }

  .botao-subir {
    right: 1%;
  }
}
