main .principal {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

main .caixa__sobre {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 630px;
  margin: 0 auto;
}

main .caixa__sobre h2 {
  text-align: center;
}

main .caixa__sobre p {
  text-align: justify;
}
