:root {
  --cor-de-fundo: rgb(245, 197, 125);
  --cor-de-fundo-sec: wheat;
  --cor-botao: #f58200;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-de-fundo);
}

.cabecalho {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--cor-de-fundo-sec);
  align-items: center;
}

.cabecalho .cabecalho__menu {
  display: flex;
  align-items: center;
}

.cabecalho .cabecalho__menu ul {
  display: flex;
  column-gap: 5px;
}

.cabecalho .cabecalho__menu li {
  list-style: none;
  display: inline-block;
}

.cabecalho .cabecalho__menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.cabecalho .cabecalho__menu a:hover {
  color: var(--cor-de-fundo-sec);
  background: var(--cor-botao);
  border-radius: 15px;
  
}

.cabecalho__icone-menu-hamburguer {
  display: none;
  cursor: pointer;
}

.cabecalho__icone-menu-hamburguer img {
  height: 40px;
}

.cabecalho__menu-responsivo {
  display: none;
  flex-direction: column;
  row-gap: 15px;
  position: absolute;
  right: 15px;
  top: 120px;
  background-color: white;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.cabecalho__menu-responsivo a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
}

.cabecalho__menu-responsivo a:hover{
  background-color: var(--cor-botao);
  color: white;
}

.degrade {
  height: 100px;
  background: linear-gradient(var(--cor-de-fundo-sec) 20%, var(--cor-de-fundo));
}

main .principal{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

main .caixa__sobre {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 630px;
  margin: 0 auto;
}

main .caixa__sobre h2 {
  text-align: center;
}

main .caixa__sobre p {
  text-align: justify;
}

.caixa__produtos {
  display: grid;
  align-items: baseline;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 30px;
  justify-content: center;
}

.caixa__produtos #produtos__titulo--principal {
  text-align: center;
  grid-column-end: span 2;
}

.caixa__produtos .container__cartao-produtos {
  background-color: var(--cor-de-fundo-sec);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  row-gap: 10px;
  border-radius: 15px;
  transition: 600ms;
  cursor: pointer;
}

.caixa__produtos .container__cartao-produtos:hover {
  transform: scale(1.03);
}

.caixa__produtos .container__cartao-produtos img {
  border-radius: 15px;
  width: auto;
  height: 186px;
}

.caixa__produtos .container__cartao-produtos h3 {
  text-transform: uppercase;
}

.caixa__produtos .container__cartao-produtos p {
  text-align: justify;
}

.caixa__produtos .produtos--mais {
  display: none;
}

.caixa__produtos .produtos__titulo--hamburguer {
  text-align: center;
  text-transform: uppercase;
}

.caixa__botao {
  display: block;
  margin: 0 auto;
}

.botao__mais {
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 500ms;
  background: var(--cor-de-fundo-sec);
}

.botao__mais:hover, .botao-subir a:hover {
  cursor: pointer;
  background: var(--cor-botao);
}

.botao-subir {
  position: fixed;
  top: 83%;
  right: 5%;
}

.botao-subir a {
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 500ms;
  background: var(--cor-de-fundo-sec);
  color: black;
  text-decoration: none;
}

footer {
  margin-top: 80px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.crescer {
  animation: crescer 400ms ease-in-out
}

.diminuir {
  animation: diminuir 400ms ease-in-out;
}

@keyframes crescer {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes diminuir {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@media screen and (max-width: 768px) {
  .cabecalho .cabecalho__menu {
    display: none;
  }

  .cabecalho__icone-menu-hamburguer {
    display: block;
  }

  main .caixa__sobre {
    width: 80%;
  }

  .caixa__produtos {
    grid-template-columns: 50%;
  }

  .caixa__produtos #produtos__titulo--principal {
    grid-column-end: unset;
  }

  .caixa__produtos .container__cartao-produtos {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .botao-subir {
    right: 1.5%;
  }

  .caixa__produtos {
    grid-template-columns: 70%;
  }
}